<section class="row py-5" id="codes">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link"
           [class.active]="tabs.selected === tab"
           href="#"
           (click)="selectTab(tab, $event)"
        >{{ tab.name }}</a>
      </li>
    </ul>

    <div class="p-3 border border-top-0 bg-white">
      <demo-app-module *ngIf="tabs.selected.name === 'app.module.ts'"></demo-app-module>
      <demo-album *ngIf="tabs.selected.name === 'album.ts'"></demo-album>
      <demo-user *ngIf="tabs.selected.name === 'user.ts'"></demo-user>
      <demo-app-component *ngIf="tabs.selected.name === 'app.component.ts'"></demo-app-component>
      <demo-app-component-html *ngIf="tabs.selected.name === 'app.component.html'"></demo-app-component-html>
    </div>
  </div>
</section>
