<main class="container bg-light pb-5">
  <header class="row d-block">
    <h1 class="px-3 pt-3 pb-1 mb-0 bg-dark text-white">ng-rest-model</h1>

    <p class="px-3 pb-4 pt-0 mt-0 bg-dark text-muted">
      A JavaScript model class for easily calling REST API inspired by Laravel's ORM
    </p>
  </header>

  <section class="row mt-5" id="data-table">
    <div class="col">
      <table class="table table-sm">
        <tbody>
        <ng-template ngFor [ngForOf]="users$ | async" let-user>
          <tr (click)="select(user)"
              style="cursor: pointer"
              [class.table-active]="selectedUser === user"
              *ngIf="!user.deleted"
          >
            <td>
              <a href="" (click)="removeUser(user, $event)">Remove</a>
              <a href="" (click)="editUser(user, $event)">Edit</a>
            </td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
          <tr *ngIf="selectedUser === user">
            <td colspan="4" class="py-5">
              <h5 class="text-center">Albums:</h5>
              <div class="albums">
                <table class="album-table m-auto">
                  <tbody>
                  <ng-template [ngIf]="(albums$ | async)" let-albums [ngIfElse]="loading">
                    <tr *ngFor="let album of albums">
                      <td>
                        <a href="" (click)="removeAlbum(album, $event)">Remove</a>
                        <a href="" (click)="editAlbum(album, $event)">Edit</a>
                      </td>
                      <td>{{ album.title }}</td>
                    </tr>
                  </ng-template>
                  <ng-template #loading>
                    <tr>
                      <td>Loading...</td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
                <button type="button" class="btn btn-outline-primary" (click)="newAlbum()">New album</button>
                <form (submit)="saveAlbum()" *ngIf="formModels.album">
                  <input [(ngModel)]="formModels.album.title" name="title" placeholder="Title"/>
                  <button class="btn btn-outline-primary">Save</button>
                </form>
              </div>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </div>
  </section>

  <section class="row" id="new-user">
    <div class="col">
      <button type="button" class="btn btn-outline-primary" (click)="newUser()">New user</button>
      <form (submit)="saveUser()" *ngIf="formModels.user">
        <input [(ngModel)]="formModels.user.name" name="name" placeholder="Name"/>
        <input [(ngModel)]="formModels.user.email" name="email" placeholder="Email"/>
        <input [(ngModel)]="formModels.user.phone" name="phone" placeholder="Phone"/>
        <button class="btn btn-outline-primary">Save</button>
      </form>
    </div>
  </section>

  <demo-codes></demo-codes>
</main>
